# Created by https://www.gitignore.io/api/java-web
# Edit at https://www.gitignore.io/?templates=java-web

### Java-Web ###
## ignoring target file
/Application/WebService/target/
/Application/WebService/.idea/
/Application/WebService/WebService.iml/

/Application/WebApp/target/
/Application/WebApp/.idea/
/Application/WebApp/WebService.iml/


# End of https://www.gitignore.io/api/java-web
/.metadata/
